<h1>Welcome to rock paper scissors</h1>
<form action="/title">

  <div class="form-group">
    <label for="title">Player1 enter your choice:</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>

  <div class="form-group">
    <label for="title">Player1 enter your choice:</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>

  <button type="submit" class="btn-success">Send</button>
</form>
